html {
  background: url('../images/board.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  background-color: transparent;
  color: #333330;
}

h1 {
  text-align: center;
}

h2 {
  margin-top: 5px;
}

label[for="number-limit-range"] {
  font-weight: bold;
  margin-right: 20px;
}

#number-limit {
  font-size: 30px;
  margin-left: 10px;
}

.centered-box {
  margin: 0 auto;
  text-align: center;
}

.separator {
  margin-top: 20px;
}

#game-container {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  min-width: 300px;
  margin: 100px auto 0;
  padding: 30px;
  padding-bottom: 90px;
  width: 50%;
}

#game-options {
  background-color: white;
  border-radius: 10px;
  padding: 30px;
  width: 50%;
}

#operators-container {
  margin: 0 auto;
  width: 50%;
}

.operator-box {
  border: solid 2px black;
  border-radius: 10px;
  display: inline-block;
  margin: 5px;
  padding: 5px;
}

.math-op-icon {
  height: 20px;
  margin: 0 5px;
  width: 20px;
}

#start {
  background-color: #3071A9;
  border: 1px solid transparent;
  border-radius: .25rem;
  color: white;
  font-size: 1rem;
  padding: .5rem 1rem;
}

#game-board {
  background-color: white;
  display: none;
  padding: 30px;
  width: 50%;
}

.answer-wrong {
  border: solid 1px red;
}

#btc-reward {
  display: none;
  height: 50px;
  position: absolute;
  width: 50px;
}

#clock {
  font-size: 30px;
  margin-left: 10px;
}


/* Range input styles */

input[type=range] {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 50%;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000;
  background: #3071A9;
  border-radius: 5px;
  border: 1px solid #000000;
  cursor: pointer;
  height: 10px;
  width: 50%;
}

input[type=range]::-webkit-slider-thumb {
  background: #FFFFFF;
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid #000000;
  border-radius: 5px;
  cursor: pointer;
  height: 30px;
  margin-top: -11px;
  width: 15px;
  -webkit-appearance: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #3071A9;
}

input[type=range]::-moz-range-track {
  animate: 0.2s;
  background: #3071A9;
  border-radius: 5px;
  border: 1px solid #000000;
  box-shadow: 1px 1px 1px #000000;
  cursor: pointer;
  height: 10px;
  width: 50%;
}

input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid #000000;
  height: 30px;
  width: 15px;
  border-radius: 5px;
  background: #FFFFFF;
  cursor: pointer;
}

input[type=range]::-ms-track {
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
  cursor: pointer;
  height: 10px;
  width: 50%;
}

input[type=range]::-ms-fill-lower {
  background: #3071A9;
  border: 1px solid #000000;
  border-radius: 10px;
  box-shadow: 1px 1px 1px #000000;
}

input[type=range]::-ms-fill-upper {
  background: #3071A9;
  border: 1px solid #000000;
  border-radius: 10px;
  box-shadow: 1px 1px 1px #000000;
}

input[type=range]::-ms-thumb {
  background: #FFFFFF;
  border: 1px solid #000000;
  border-radius: 5px;
  box-shadow: 1px 1px 1px #000000;
  cursor: pointer;
  height: 30px;
  width: 15px;
}

input[type=range]:focus::-ms-fill-lower {
  background: #3071A9;
}

input[type=range]:focus::-ms-fill-upper {
  background: #3071A9;
}

/* End range styles */
