/*Use this file to add your styles -there are some cool img in the images path*/
body {
    background-image: url("../images/board.jpg");
    background-repeat: repeat-y;
    background-position: center;
    background-size: cover;
}

.panel1 {
    margin-top: 150px;
    height: 400px;
    text-align: center;
}

.panel1 h2 {
    font-weight: bold;
}

.btn-row {
    margin-top: 5px;
}

.btn-default {
    width: 76px;
}

.panel1 a {
    margin-top: 20px;
}

#slider1 .noUi-connect {
    background: #337AB7;
}

#content h1 {
    margin-top: 50px;
}

#qa-wrapper {
    margin-top: 20px;
}

#question {
    margin: 10px 10px;
    font-size: 30px;
    font-weight: bold;
}

#answer {
    margin: 10px 10px;
}
