/*Use this file to add your styles -there are some cool img in the images path*/


.game-options-number-limit{
  margin-top: 40%;
}

.game-options-number-limit .title{
  display: block;
}

.game-options-number-limit .number-limit{
  float: left;
}

.game-options-number-limit .number-value{
  float: left;
}

.game-options-number-limit input{
  clear: left;
}

.game-options-operation{
  margin-top: 5%;
}

.game-options-operation .col-md-4{
  display: flex;
  flex-wrap: wrap;
}

.game-options-operation .add{
  width: 50%;
}

.game-options-operation .substract{
  width: 50%;
}

.game-options-operation .multiply{
  width: 50%;
}

.game-options-operation .divide{
  width: 50%;
}

.game-start{
  margin-top: 5%;
}

.game-start .col-md-4{
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-board{
  display: none;
  margin-top: 40%;
}

.game-board .time-left{
  display: block;
  width: 100%;
}

.game-board .question{
  float: left;
  width: 33%;
}

.game-board input{
  float:left;
  width: 34%;
}

.game-board .result-ok{
  float:left;
  width: 33%;
}
