/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/



/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/



html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}



/* HTML5 display-role reset for older browsers */



article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}



body {
	line-height: 1;
}



ol, ul {
	list-style: none;
}



blockquote, q {
	quotes: none;
}



blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}



table {
	border-collapse: collapse;
	border-spacing: 0;
}



html {
  font-size: 25px;
}



body {
  background: url(../images/board.jpg);
  background-size: 100% auto;
  background-position: 0%;
}



.container {
  width: 100%;
  max-width: 600px;
  margin-top: 150px;
  background: #ffffff;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 10px;
  padding: 25px;
  padding: 1rem;

}



.container__options {
	width: 100%;
	max-width: 500px;
	margin: auto;
	background: white;
}



h1, h2, h3, h4 {
 text-align: center;
 font-family: helvetica;
 font-weight: 600;
 padding-top: 1em;
 padding-bottom: 1em;
}



body {
    margin: 30px;
}



.slider {
	display: block;
	float: left;
	margin-left: 5px;
}



.valueLabel {
	display: block;
	float: left;
	margin-left: 15px;
}



/* just for preview */



.container {
    padding-top: 40px;
}
